<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>座位</title>
    <link href="/fix/hash/public/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div>
    <br />
    <div class="container row1">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
            1
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row2">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            2
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row3">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            3
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row4">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            4
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row5">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            5
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row6">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            6
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row7">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            7
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row8">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            8
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row9">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            9
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row10">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            10
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row11">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            11
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row12">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            12
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row13">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            13
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row14">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            14
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row15">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            15
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row16">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            16
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row17">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            17
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row18">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            18
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>


    <div class="container row19">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
            19
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
            <img src="__STATIC__/images/green.png" class="img-responsive">
        </div>
    </div>
</div>
<input type="hidden" row="{$row}" column="{$column}">
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/fix/hash/public/static/bootstrap/js/bootstrap.min.js"></script>
<script>
    var row = {$row};
    var column = {$column};
    var rowClass = '.row'+row;
    var columnClass = '.column'+column;
    $(rowClass + ' ' + columnClass+' img').attr('src', '/fix/hash/public/static/images/yellow.png');


</script>
</html>