<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>哈希</title>

    <!-- Bootstrap -->
    <link href="/fix/hash/public/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 50px">
        <h1>幽会地点生成</h1>
        <br />
        <p>今日腾讯开市股价为：{$shares}</p>
        <p>今日日期为：{$time}</p>
        <p>第{$row}行，第{$column}列</p>
        <br />
        <p>
            <a class="btn btn-lg btn-primary" type="button" id="detail" attr-row="{$row}" attr-column="{$column}">点击查看详情</a>
        </p>
    </div>

    <!--div>
        <div class="container row1">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
                1
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row2">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                2
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row3">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                3
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row4">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                4
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row5">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                5
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row6">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                6
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row7">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                7
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row8">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                8
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row9">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                9
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row10">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                10
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row11">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                11
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row12">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                12
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row13">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                13
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column8">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row14">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                14
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column7">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row15">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                15
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row16">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                16
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row17">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                17
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row18">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                18
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column6">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>


        <div class="container row19">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                19
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column1">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column2">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column3">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column4" >
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 column5">
                <img src="__STATIC__/images/green.png" class="img-responsive">
            </div>
        </div>
    </div>

</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/fix/hash/public/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/fix/hash/public/static/layer/layer.js"></script>
<script src="/fix/hash/public/static/common.js"></script>

</body>
</html>